*.vvp
*.vcd

riscof/riscof_work/
riscof/riscv-arch-test/
riscof/utoss_riscv/__pycache__/
riscof/sail_cSim/__pycache__
riscof/config.ini
riscof/dut_sim

envs/de1-soc/poc/poc*.mem
envs/de1-soc/poc/poc*.mif
envs/de1-soc/poc/poc.elf
envs/de1-soc/quartus/db/
envs/de1-soc/out/**
!envs/de1-soc/out/.gitkeep
envs/de1-soc/build/**
!envs/de1-soc/build/.gitkeep

envs/de1-soc/quartus/incremental_db/
envs/de1-soc/quartus/output_files/*
!envs/de1-soc/quartus/output_files/utoss-risc-v.cdf
envs/de1-soc/quartus/c5_pin_model_dump.txt
envs/de1-soc/quartus/*.bak
envs/de1-soc/quartus/*.qws
envs/de1-soc/quartus/metrics/*
!envs/de1-soc/quartus/metrics/.gitkeep

out/**
!out/.gitkeep
build/**
!build/.gitkeep
